
footer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100px;           /* Altura del footer */
  background-color: #f1f1f1;
}