ul {
    display: flex;
    list-style-type: none;
    gap: 20px;

    li {
        background-color: rgb(224, 58, 75);
        padding: 10px 20px;
        cursor: pointer;
        color: #f1f1f1;
    }
}

h2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100px;           /* Altura del footer */
  background-color: #f1f1f1;
}